# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store

# IDE & editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.local
*.tsbuildinfo
